<!DOCTYPE html>
<html>
    <head>
        <title>
            Chandrika Jewellers online portal
        </title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" >
        <!-- <link href="https://fonts.googleapis.com/css?family=Cinzel|Courgette|Great+Vibes|Playball|Signika+Negative&display=swap" rel="stylesheet">  -->
        <!-- <script src="https://kit.fontawesome.com/08430b18cb.js"></script> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <!--<body style="  background: linear-gradient(to left, #c2e59c, #64b3f4);">-->
    <!--<body style="background: linear-gradient(to left, #f1f2b5, #135058);">-->
    <!--<body style=" background: linear-gradient(to left, #aaffa9, #11ffbd);">-->
    <body style=" background:linear-gradient(to right, #7474bf, #348ac7);height:100%; padding-bottom:30px;">
    <nav class="nav navbar-expand-lg navbar-light bg-light" style="margin-bottom:10px">
            <a class="navbar-brand" href="/">
                <img src="/public/coins-solid.svg" style="height:30px; margin-left:20px;margin-right:9px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hambug" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="hambug">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/new">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Search</a>
                    </li>
                </ul>
            </div>
    </nav>
    